.news-head {
  display: flex;
  justify-content: space-between;
  padding: 208px 2px 100px 0px;
}

.news-head__text {
  max-width: 709px;
}

.news-head__text p {
  margin-top: 20px;
}

.news-head__links {
  margin-top: 8px;
}

.news-head__links p {
  font-weight: 500;
  opacity: 1 !important;
}

.news-head__links > div {
  margin-top: 13px;
}

.news-head__links > div > *:not(:last-child) {
  margin-right: 3.5px;
}

.news-info ul li {
  list-style: circle;
  list-style-position: outside;
  margin-left: 15px;
  opacity: 0.75;
}

.news-info ol li {
  list-style: decimal;
  list-style-position: outside;
  margin-left: 16px;
  opacity: 0.75;
}

.news-info ol li::marker {
  font-weight: 500 !important;
}

.news-info__gallery {
  padding: 12px 0px 0px;
}

.news-info__text {
  padding: 88px 0px;
}

.news-info__text > * {
  max-width: 715px;
}

.news-info__text h5 {
  margin-bottom: 16px;
}

.news-info__text_list {
  margin: 41px 0px;
}

.news-info__text_list li:not(:last-child) {
  margin-bottom: 12px;
}

hr.container-md {
  background: #828282;
  width: 100%;
  height: 1px;
  margin-top: 3px;
}

.news-slider {
  padding: 148px 0px 183px;
  margin-left: 5px;
}

.news-slider__content {
  margin-top: 72px;
}

.news-slider__slide p {
  opacity: 1;
  font-weight: 700;
  line-height: 19px;
  color: #3A3E4B;
  margin: 17px 0px 9px;
}

.news-slider__slide span {
  font-size: 10px;
  line-height: 17px;
  color: #828282;
}

.news-slider .swiper-slide {
  width: auto;
}