.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__head {
  text-align: left;
  width: 100%;
  padding: 208px 0px 122px;
  display: flex;
  justify-content: space-between;
}

.gallery__info {
  margin: -3px 1px 0px 0px;
}

.gallery__item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
}

.gallery .discover-button hr {
  background: #fff;
}

.info-gallery__text {
  max-width: 450px;
  margin-bottom: 31px;
}

.inline-menu {
  display: flex;
  font-size: 11px;
  letter-spacing: 0.06em;
  color: #828282;
  font-weight: 600;
}

.inline-menu__item:not(:last-child) {
  margin-right: 33px;
}

.inline-menu input:checked ~ label {
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  transition: all 0.3s ease 0s;
}

.inline-menu input {
  position: absolute;
  opacity: 0;
}

.request {
  padding: 104px 0px 195px;
}