@import "../../node_modules/swiper/swiper-bundle.min.css";

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 96px;
  padding: 0px 4.45% 0px 4.3%;
  font-weight: 600;
  mix-blend-mode: difference;
  color: rgb(179, 179, 179);
  transition: all 0.3s ease 0s;
  z-index: 999;
}

.header > * {
  z-index: 1;
}

.header__menu {
  margin-left: 10.9%;
}

.header__logo {
  letter-spacing: 4px;
}

.header__end {
  display: flex;
  margin-left: auto;
}

.header__end * {
  mix-blend-mode: difference;
  color: #999;
}

.header__end > *:not(:first-child) {
  margin-left: 83px;
}

.header.menu-opened {
  mix-blend-mode: normal;
  padding-top: 15px;
}

.header.menu-opened .header__burger {
  margin-top: 10px;
}

.menu {
  display: flex;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
}

.burger-menu {
  position: fixed;
  top: -105vh;
  left: -105vw;
  width: 100vw;
  height: 100vh;
  border-radius: 0% 0% 100% 0%;
  background: #080808;
  opacity: 0.98;
  z-index: 0;
  transition: all 0.7s ease 0s, border-radius 0.7s ease 0.1s;
  display: flex;
  align-items: center;
  padding-left: 20.6%;
}

.burger-menu__footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 56px;
  z-index: 100;
  color: #fff;
  font-size: 11px;
}

.burger-menu__footer > span *:not(:last-child) {
  margin-right: 17px;
}

.burger-menu__footer > span {
  margin-right: 80px;
}

.burger-menu__footer > label {
  margin-right: 40px;
}

.burger-menu__footer > a {
  letter-spacing: 0.06em;
  margin-right: 32px;
}

.burger-menu__footer input {
  position: absolute;
  opacity: 0 !important;
}

.burger-menu.menu-opened {
  visibility: visible !important;
  left: 0px !important;
  top: 0px !important;
  border-radius: 0% 0% 0% 0%;
}

.menu-burger {
  margin-bottom: 14px;
}

.menu-burger > *:not(:last-child) {
  margin-bottom: 4.4vh;
}

.menu-burger__item {
  transition: all 0.3s ease 0s;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  opacity: 0.5;
}

.menu-burger__item:hover {
  opacity: 1;
  padding-left: 30px;
}

.opacity-button {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: none;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 80px;
  padding: 0px 64px;
  z-index: 100;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__right {
  display: flex;
  align-items: center;
}

.c-request {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 470px;
}

.c-request__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 368px;
  margin-top: 65px;
}

.c-request__info div {
  width: 339px;
  align-self: flex-end;
  z-index: 1;
}

.c-request__info p {
  margin-bottom: 45px;
}

.c-request__info_title {
  justify-self: left;
  align-self: flex-start !important;
  width: 424px !important;
}

.c-request__info h2 {
  line-height: 51px;
}

.c-lorem {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.c-lorem__text {
  z-index: 20;
  mix-blend-mode: difference;
  color: #fff;
}

.c-lorem__text h1 {
  color: inherit;
  margin-bottom: 10px;
}

.c-lorem__text p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  opacity: 0.6;
}

.c-lorem__img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-lorem__img > picture,
.c-lorem__img > img {
  position: absolute;
}

.c-contacts {
  min-height: 670px;
  display: flex;
  justify-content: space-between;
  padding: 118px 0px 158px;
}

.c-contacts__right {
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  align-self: center;
  letter-spacing: 0.06em;
  font-size: 11px;
}

.c-contacts__right a {
  margin-bottom: 13px;
}

.c-contacts__right span > *:not(:last-child) {
  margin-right: 17px;
}

.c-contacts {
  max-width: 1052px !important;
}

.contact-data > *:not(:last-child) {
  margin-bottom: 64px;
}

.contact-data > *:first-child > h2 {
  margin-bottom: 12px;
}

.contact-data > p {
  opacity: 0.6;
}

.contact-data__city {
  display: flex;
}

.contact-data__city > *:not(:last-child) {
  margin-right: 111px;
}

.contact-data__city h5 {
  margin-bottom: 15px;
}

.contact-data__city p {
  font-size: 11px;
  letter-spacing: 0.06em;
  line-height: 21px;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.woff") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 300;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 69px;
  color: #fff;
}

h2 {
  font-size: 36px !important;
  line-height: 44px;
}

h3 {
  font-size: 28px !important;
  line-height: 35px;
}

h4 {
  font-size: 22px !important;
  line-height: 28px;
}

h5 {
  font-size: 16px !important;
  line-height: 22px;
}

h6 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  opacity: 0.75;
}

img {
  width: initial;
  height: initial;
}

html,
body {
  position: relative;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  color: #080808;
  background: #FAFAFA;
}

main {
  position: relative;
}

.main {
  background: #fff;
  color: #000;
  transition: all 2.5s ease 0s;
}

section {
  position: relative;
}

.wrapper_ {
  width: 100%;
  padding: 0px 15px;
}

.wrapper-no-limits {
  max-width: 1440px;
  margin: 0px auto;
}

.container_ {
  max-width: 1312px;
  margin: 0px auto;
}

.container-md {
  max-width: 1046px;
  margin: 0px auto;
}

.container-not-left {
  width: 100%;
  padding-left: 197px !important;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.075em;
  font-weight: 600;
}

.button {
  padding: 0px 49px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600 !important;
  letter-spacing: 0.06em;
  box-shadow: 0px 0px 2px #000;
}

.button-light {
  background: #fff;
  color: #080808;
  cursor: pointer;
  transition: all 0.7s ease 0s;
}

.button-light:hover {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
}

.discover-button {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-shadow: 1px 0px 2px #000;
  cursor: pointer;
  width: 187px;
  height: 15px;
  overflow: hidden;
}

.discover-button hr {
  box-shadow: 2px 0px 4px #000;
}

.discover-button > hr:first-child {
  width: 8px;
  height: 0.5px;
  background: #000;
  margin-right: 9px;
}

.discover-button > hr:last-child {
  width: 55px;
  height: 0.5px;
  background: #000;
  margin-left: 9px;
}

.dark-bg {
  background: #000;
  color: #fff;
}

.light-bg {
  background: #fff;
  color: #000;
}

.city-list {
  position: relative;
  display: flex;
  align-items: center;
  width: 117px;
  height: 24px;
  letter-spacing: 0em;
  color: inherit;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 0px 13px;
}

.city-list__enter {
  text-shadow: 0px 0px 4px #000;
}

.city-list > picture:nth-child(1),
.city-list > img:nth-child(1) {
  margin-top: 2px;
  margin-right: 7px;
}

.city-list > picture:nth-child(3),
.city-list > img:nth-child(3) {
  margin-left: auto;
  transition: transform 0.5s ease 0s;
  transform: rotate(-180deg);
}

#ct-list:checked ~ .city-list > .city-list__items {
  visibility: visible;
  height: 80px;
  transition: all 0.5s ease 0s;
}

#ct-list:checked ~ .city-list > picture:nth-child(3) {
  transform: rotate(0deg);
  transition: transform 0.5s ease 0s;
}

.city-list__items {
  display: flex;
  visibility: hidden;
  height: 0px;
  overflow-y: scroll;
  flex-direction: column;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 3px 1px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px 5px 0px 0px;
}

.city-list__items input {
  position: absolute !important;
  opacity: 0 !important;
}

.city-list__items input:checked ~ label {
  color: #fff;
  font-size: 14px;
}

.city-list__items p {
  line-height: 200%;
  text-align: center;
  width: 90%;
  align-self: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}

.city-list__items p:hover {
  color: #fff;
  font-size: 12px;
  background: rgba(175, 175, 175, 0.75);
  width: 100%;
}

.c-gallery {
  display: flex;
  flex-direction: column;
}

.c-gallery__one-item {
  position: relative;
  width: 100%;
}

.c-gallery__one-item > * {
  position: relative;
}

.c-gallery__one-item img {
  width: 100%;
}

.c-gallery__two-item {
  position: relative;
  width: 100%;
}

.c-gallery__two-item > * {
  position: relative;
}

.c-gallery__two-item img {
  width: 100%;
}

.worker-mail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.worker-mail h2 {
  line-height: 51px;
}

.worker-mail_input {
  position: relative;
  max-width: 382px;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #515151;
}

.worker-mail_input input {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  background: transparent;
  font-size: 20px;
  line-height: 170.66%;
  opacity: 0.8;
  letter-spacing: 0.09em;
}

.worker-mail_input button {
  position: absolute;
  top: 15%;
  right: 3px;
  mix-blend-mode: difference;
  opacity: 0.6;
}

@media (min-width: 800px) {
  .header__logo:hover {
    transform: scale(2) rotate(360deg);
    transition: transform 0.25s ease 0s;
  }

  .menu__item:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease 0s;
  }

  .discover-button:hover {
    text-shadow: 2px 0px 4px #000;
  }

  .discover-button:hover hr {
    box-shadow: 2px 0px 4px #000;
    margin: 0px;
    width: 100%;
  }

  .discover-button:hover span {
    position: absolute;
    transform: translate(30%, -70%) scale(1.3);
    transition: all 0.5s ease 0s;
  }

  .c-gallery__two-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
  }

  .c-gallery__two-item > * {
    position: relative;
  }

  .c-gallery__two-item > div {
    width: 49.7%;
  }

  .c-gallery__two-item > div img {
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .menu__item:not(:last-child) {
    margin-right: 48px;
  }

  .c-request__info p {
    text-shadow: 1px 1px 3px #000;
  }

  .c-request__info h2 {
    text-shadow: 1px 1px 3px #000;
    z-index: 1;
  }

  .city-list {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1.15336px 1.22544px rgba(0, 0, 0, 0.2), inset 0px -0.288339px 0.0720847px rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(1px);
    border-radius: 8.70783px;
  }

  .city-list__items {
    background: rgba(125, 125, 125, 0.85);
    color: rgb(195, 195, 195);
  }
}

@media (min-width: 1100.1px) {
  .c-request__img {
    position: absolute;
    left: 14.5%;
    top: 39.5%;
    width: 738px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
  }

  .c-request__img > * {
    position: absolute;
  }

  .c-request__img > *:hover {
    z-index: 2;
    transform: rotate(0deg) !important;
    transition: transform 0.7s ease 0s;
  }

  .c-request__img > *:hover img {
    transform: scale(1.75);
    transition: transform 0.7s ease 0s;
  }

  .no-desktop {
    display: none;
  }
}

@media (max-width: 1100px) {
  .header__menu {
    visibility: hidden;
    position: absolute;
  }

  .header__burger {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: rgb(179, 179, 179);
    transition: all 0.5s ease 0s;
    margin-bottom: 3.5px;
    margin-left: 10.8%;
    cursor: pointer;
  }

  .header__burger span {
    transition: all 0.3s ease 0s !important;
  }

  .header__burger span:first-child {
    margin-top: -6.5px;
    margin: -6.5px 24px 0px 0px;
    display: flex;
    flex: 0 0 28px;
    height: 1.5px;
    background: rgb(179, 179, 179);
  }

  .header__burger span:first-child::after {
    transition: all 0.3s ease 0.15s !important;
    content: "";
    flex: 1 1 28px;
    height: 1.5px;
    background: rgb(179, 179, 179);
    margin-top: 7px;
  }

  .header__burger.menu-opened span:first-child {
    transform: rotate(45deg);
  }

  .header__burger.menu-opened span:first-child::after {
    transform: rotate(-90deg);
    margin: 0;
  }

  .header__burger.menu-opened span:last-child {
    opacity: 0;
  }

  .header__end > *:not(:first-child) {
    margin-left: 55px;
  }

  .header {
    min-height: 92px;
    padding: 0px 5.5% 0px 5.3%;
  }

  .opacity-button {
    min-height: 42px !important;
    padding: 0px 35px;
  }

  .c-request__img {
    display: none;
  }

  h1 {
    font-size: 48px;
    line-height: 59px;
  }

  h2 {
    font-size: 32px !important;
    line-height: 39px;
  }

  h4 {
    font-size: 20px !important;
    line-height: 25px;
  }

  .container_ {
    max-width: 912px;
  }

  .container-md {
    max-width: 706px;
  }

  .container-not-left {
    padding-left: 159px !important;
  }
}

@media (max-width: 1100.1px) {
  .city-list {
    border: 1px solid #C4C4C4;
    border-radius: 88px;
  }

  .city-list__items {
    color: rgb(225, 225, 225);
  }
}